/* App.css */

/* ダークモードのスタイル */
body.dark-mode {
    background-color: #3c3f41;
    color: #ffffff;
}

/* 左寄せのスタイル */
.left-align {
    text-align: left;
    margin: 10px; /* 余白をリセット */
    padding: 10px; /* パディングをリセット */
}

/* 詳細設定 */
.setting-gui {
    position: fixed;
    z-index: 1;
    margin: 10px;
    padding: 10px;
    background-color: #4f60bb;
    right: 30px;
}